<div class="container">
  <%= render 'shared/sidebar' %>
  <%= render 'shared/header' %>
  <%= render 'shared/realtors' %>
  <%= render 'shared/features' %>
  <%= render 'shared/story' %>
  <%= render 'shared/homes' %>
  <%= render 'shared/gallery' %>
  <%= render 'shared/footer' %>
</div>
